.spanBlock {
  margin: 30px 25px 10px 70px;

}

.span {
  width: 63px;
  height: 20px;
  top: 200px;
  left: 114px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: #0080FF;
  margin-left: 20px;
}

.input {
  width: 280px;
  height: 36px;
  top: 192px;
  left: 70px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  margin: 30px 25px 10px 70px;
  padding: 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;

}

.pen {
  width: 25px;
  height: 25px;
  top: 200px;
  left: 70px;
  margin-bottom: -3px;
}