.App {
    --header_height: 60px;
}

.hw {
    background-color: pink;
    border-style: solid none solid none;
    border-color: #D9D9D9;
    border-width: 1px ;
    height: 335px;
}

.hwTitle {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    width: 170px;
    height: 27px;
    top: 130px;
    left: 70px;
    color: #000000;
    margin: 70px 0px 10px 70px;
}